body {
  width: 100%;
  height: 100%;
}

.contents {
  /*position: absolute;*/
  width: 100%;
  height: 100%;

  line-height: 100vh;
  text-align: center;
}

#first-screen {
  background-color: red;
}

#second-screen {
  background-color: orange;
}

#third-screen {
  background-color: yellow;
}
